<nav class="navbar" role="navigation">
  <div class="navbar-header page-scroll">
    <button type="button" class="navbar-toggle" data-toggle="collapse" data-target=".navbar-ex1-collapse">
      <span class="icon-bar"></span>
      <span class="icon-bar"></span>
      <span class="icon-bar"></span>
    </button>
  </div>

  <!-- Collect the nav links, forms, and other content for toggling -->
  <div class="collapse navbar-collapse navbar-ex1-collapse right">
    <ul class="nav navbar-nav">
      <!-- Hidden li included to remove active class from about link when scrolled up past about section -->
      <li>
        <a class="page-scroll" href="#intro">dental</a>
      </li>
      <li>
        <a class="page-scroll" href="#services">HSC</a>
      </li>
      <li>
        <a class="page-scroll" href="#contact">Контакты</a>
      </li>
      <li>
        <a class="page-scroll" href="#about_us">О нас</a>
      </li>
    </ul>
  </div>
</nav>

<header id="myCarousel" class="carousel slide">
  <!-- Indicators -->
  <ol class="carousel-indicators">
    <li data-target="#myCarousel" data-slide-to="0" class="active"></li>
    <li data-target="#myCarousel" data-slide-to="1"></li>
    <li data-target="#myCarousel" data-slide-to="2"></li>
  </ol>

  <!-- Wrapper for slides -->
  <div class="carousel-inner">
    <div class="item active">
      <div class="fill" style="background-image:url('img/Carousel1.jpg');"></div>
      <div class="carousel-caption">
        <h2>Caption 1</h2>
      </div>
    </div>
    <div class="item">
      <div class="fill" style="background-image:url('img/Carousel2.jpg');"></div>
      <div class="carousel-caption">
        <h2>Caption 2</h2>
      </div>
    </div>
    <div class="item">
      <div class="fill" style="background-image:url('img/Carousel3.jpg');"></div>
      <div class="carousel-caption">
        <h2>Caption 3</h2>
      </div>
    </div>
  </div>

  <!-- Controls -->
  <a class="left carousel-control" href="#myCarousel" data-slide="prev">
    <span class="icon-prev"></span>
  </a>
  <a class="right carousel-control" href="#myCarousel" data-slide="next">
    <span class="icon-next"></span>
  </a>
</header>

<section class='items'>
  <ul>
    <!-- Hidden li included to remove active class from about link when scrolled up past about section -->
    <li>Каталог</li>
    <li>Каталог II</li>
    <li>Каталог III</li>
    <li>Каталог IV</li>
  </ul>
</section>

<section id="intro" class="intro-section">
  <div class="container">
    <div class="row">
      <div class="col-lg-12">
        <h1>Название сайта</h1>
      </div>
    </div>
  </div>
</section>

<!-- Contact Section -->
<section id="contact" class="contact-section">
  <!-- Contact Details Column -->
  <div class="col-md-5">
    <h3>Контакты</h3>
    <p>
      г. Черкассы<br>Украина<br>
    </p>
    <p><abbr title="Phone"></abbr> +(380) 98-711-3435</p>
    <p><abbr title="Email"></abbr> <a href="mailto:name@example.com">name@example.com</a></p>
    <p><abbr title="Hours"></abbr> Понедельник- Пятница: 9:00 - 17:00 </p>
    <ul class="list-inline">
    </li>
    <li>
      <a class='font-awesome' href="https://vk.com"><i class="fa fa-vk fa-2x"></i></a>
    </li>
    <li>
      <a class='font-awesome' href="https://plus.google.com"><i class="fa fa-google-plus-square fa-2x"></i></a>
    </li>
  </ul>
</div>

<div class="col-md-7">
  <h3>Написать письмо</h3>
  <form name="sentMessage" id="contactForm" novalidate>
    <div class="col-md-5">
      <div class="control-group form-group">
        <div class="controls">
          <label>Полное имя:</label>
          <input type="text" class="form-control" id="name" required data-validation-required-message="Please enter your name.">
          <p class="help-block"></p>
        </div>
      </div>
      <div class="control-group form-group">
        <div class="controls">
          <label>Номер телефона:</label>
          <input type="tel" class="form-control" id="phone" required data-validation-required-message="Please enter your phone number.">
        </div>
      </div>
      <div class="control-group form-group">
        <div class="controls">
          <label>Email:</label>
          <input type="email" class="form-control" id="email" required data-validation-required-message="Please enter your email address.">
        </div>
      </div>
    </div>
    <div class="col-md-7">
      <div class="control-group form-group">
        <div class="controls">
          <label>Сообщение:</label>
          <textarea rows="5" cols="50" class="form-control" id="message" required data-validation-required-message="Please enter your message" maxlength="999" style="resize:none"></textarea>
        </div>
      </div>
      <div id="success"></div>
      <!-- For success/fail messages -->
      <button type="submit" class="btn btn-default">Отправить</button>
    </div>
  </form>
</div>
